KAFKA_BOOTSTRAP_SERVERS=localhost:9092

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sentinelflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

SPARK_MASTER=local[*]

PROCESSING_MODE=streaming
# PROCESSING_MODE=batch